<!DOCTYPE html>
<html>
<head>
    <title>Text Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/main.css') }}">
</head>
<body>
    <div class="container">
        <h1>Анализ текста</h1>
        {% if file_name %}
            <p class="hint-success">Файл {{ file_name }} загружен успешно</p>
        {% else %}
            <p class="hint">Загрузите файл</p>
        {% endif %}
        
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file-input" accept=".txt" onchange="this.form.submit()" hidden>
            <button type="button" onclick="document.getElementById('file-input').click()" class="upload-button">
                Выбрать...
            </button>
        </form>

        {% if words %}
        <div class="results">
            <table>
                <thead>
                    <tr>
                        <th class="header-cell">
                            <a href="/results?file_name={{ file_name }}&file_id={{ file_id }}&sort_by=word&order={% if current_sort == 'word' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                word
                                {% if current_sort == 'word' %} 
                                    {% if current_order == 'desc' %}⇩{% else %}⇧{% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th class="header-cell">
                            <a href="/results?file_name={{ file_name }}&file_id={{ file_id }}&sort_by=tf&order={% if current_sort == 'tf' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                count
                                {% if current_sort == 'tf' %} 
                                    {% if current_order == 'desc' %}⇩{% else %}⇧{% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th class="header-cell"> 
                            <a href="/results?file_name={{ file_name }}&file_id={{ file_id }}&sort_by=idf&order={% if current_sort == 'idf' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                idf
                                {% if current_sort == 'idf' %} 
                                    {% if current_order == 'desc' %}⇩{% else %}⇧{% endif %}
                                {% endif %}
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for word in words %}
                    <tr>
                        <td>{{ word.word }}</td>
                        <td>{{ word.tf }}</td>
                        <td>{{ word.idf }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</body>
</html>